.page{
  background-color:#000;
  margin:auto;
  max-width: 1280px;
 }

.header{
  margin:45px 200px 41px 200px;
  display:flex;
  justify-content: flex-start;
  border-bottom: 1px solid #545454;
  width: 880px;
  height: 74px;
}

.header__image{
  margin:0;
  width: 173px;
  height: 33px;
}

.content{
  display:flex;
  flex-direction: column;
}
/*

.popup{

}

.popup__button-edit{
  background-color: none;
}

.popup__button-plus{

}

.popup__form{

}

*/

.gallery{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 880px;
  margin:45px 200px 67px 200px;
}

.gallery__card{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 361px;
  margin:0;
  border-radius: 10px;
}

.gallery__card-text{
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  margin:25px auto 30px 20px;
}

.gallery__img{
  width:282px;
  height: 282px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}